/* Write your CSS here */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #fbc7d4, #9796f0);
  min-height: 100vh;
  font-family: 'Roboto';
  padding: 20px;
  max-height: 100%;
}

.inner-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  width: 90%;
  min-height: 500px;
  max-height: 100%;
  border-radius: 10px;
}

.content-holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  width: 90%;
}

.main-heading {
  color: #171f46;
  font-size: 28px;
}

.form-element {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.label {
  color: #b5b7c4;
  font-size: 12px;
  font-weight: bold;
}

.input-element {
  padding: 8px;
  color: #b5b7c4;
  font-size: 12px;
  margin-top: 5px;
  outline: none;
  border-style: solid;
  border-color: #b5b7c4;
  border-radius: 2px;
  width: 280px;
  margin-bottom: 20px;
}
::placeholder {
  color: #b5b7c4;
}

.btn {
  color: white;
  background-color: #8b5cf6;
  padding: 8px;
  font-size: 10px;
  border-style: none;
  border-radius: 5px;
  width: 50px;
}

.image {
  width: 380px;
  height: 250px;
}

.divider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

hr {
  margin-top: 20px;
  background-color: #b5b7c4;
  width: 100%;
}

.joint {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.appointments {
  color: #171f46;
  font-size: 22px;
}

.starred-name {
  color: #9897f0;
  border-style: solid;
  border-color: #9796f0;
  border-radius: 15px;
  font-weight: bold;
  border-width: 1px;
  width: 80px;
  text-align: center;
  padding: 5px;
  font-size: 12px;
  background-color: transparent;
}

.starred-names {
  color: white;
  border-style: solid;
  border-color: #9796f0;
  border-radius: 15px;
  font-weight: bold;
  border-width: 1px;
  width: 80px;
  text-align: center;
  padding: 5px;
  font-size: 12px;
  background-color: #9796f0;
}

.appointment-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  width: 100%;
  list-style-type: none;
  flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .image {
    display: none;
  }
}
